/** Font Size */
$small: 0.9rem;
$normal: 1rem;
$large: 1rem;

/** Colors */
$white: #fff;
$black: #000;
$hover_green: #6ac045;

// Font weight
$light: 300;
$medium: 400;
$bold: 700;

// Media Query
$mobile: "(max-width: 640px)";
$tablet: "(min-width: 641px) and (max-width: 1023px)";

//Transition
$ease_fast: all 0.3s ease;