/** Font Size */
$small: 0.9rem;
$normal: 1rem;
$large: 1rem;

/** Colors */
$white: #fff;
$black: #000;
$hover_green: #6ac045;

// Font weight
$light: 300;
$medium: 400;
$bold: 700;

// Media Query
$low_res_mobile: "(max-width: 380px)";
$med_mobile: "(min-width: 381px) and (max-width: 476px)";
$high_mobile: "(min-width: 476px) and (max-width: 620px)";
$mobile: "(max-width: 640px)";
$min_tablet: "(min-width: 640px) and (max-width: 830px)";
$med_tablet: "(min-width: 831px) and (max-width: 1023px)";
$tablet: "(min-width: 641px) and (max-width: 1023px)";

//Transition
$ease_fast: all 0.3s ease;